body {
  font: 2rem Roboto, sans-serif;
  box-sizing: border-box;
}

.calculator-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.calculator {
  padding: .5rem;
  background: rgb(148, 190, 148);
  border-radius: 1.5rem;

  border: 2px solid black;
}

.screen {
  background: rgb(241, 251, 241);
  border-radius: 1rem;
  padding: 2rem .5rem;
  font-size: 2rem;
  text-align: center;
  border: 2px solid black;
}

.buttons-container {
  padding: .5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: .7rem;
}


.button {
  aspect-ratio: 1.2/1;
  background: rgb(69, 69, 69);
  border-radius: 50%;
  border: 1px solid black;
}